<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="container">

  <div class="row">
      <div class="col">
      <br><br>
  <h4>MOJA LISTA ZADAŃ</h4>
  <br><br>
  </div>
  </div>

    <div class="row">
      <div class="col">
        <app-add-task (emitTask)="add($event)"></app-add-task>
        <br><br>
      </div>
    </div>

    <div class="row">

      <div class="col-4">
        <app-to-do-task [tasksList]="tasksList" (emitDone)="done($event)" (emitRemove)="remove($event)"></app-to-do-task>
      </div>

      <div class="col-4">
        <app-done-task [tasksDone]="tasksDone"></app-done-task>
      </div>

    </div>
  </div>

</body>

</html>
