<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-10">
        <br><br>
        <h4>MOJA LISTA ZADAŃ</h4>
        <br><br>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <app-add-task></app-add-task>
        <br><br>
      </div>
    </div>

    <div class="row">

      <div class="col-5">
        <app-to-do-task></app-to-do-task>
      </div>

      <div class="col-5">
        <app-done-task></app-done-task>
      </div>

    </div>
  </div>

</body>

</html>
