<ng-container *ngIf="tasksList.length > 0; else noTask">
  <p>Zadania do wykonania: {{tasksList.length}}</p>
  <ul class="list-group">
    <li class="list-group-item" appDate [date]="task.created" *ngFor="let task of tasksList; let odd = odd" [ngClass]="{'odd-li': odd }">
        {{task.name}}
      <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group mr-2 btnFlo">
          <button type="button" class="btn btn-outline-secondary btn-sm " (click)="remove(task)">Usuń</button>
        </div>
        <div class="btn-group mr-2 btnFlo">
          <button type="button" class="btn btn-outline-secondary btn-sm " (click)="done(task)">Zrobione</button>
        </div>
      </div>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p>Brak zadań!</p>
</ng-template>
